.play-container {
  padding: 80px 2% 20px 100px;
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.large-play-container {
  padding: 80px 2% 20px 220px;
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
